  body {
    padding-top: 7rem;
    background-color: rgb(229, 240, 243);
  }

  h1 {
    color: black;
    text-align: center;
  }

  div {
    margin: 10px;
    background-color: rgb(229, 240, 243);
  }

  details {
    margin: 10px;
  }
  
  .alert-pre {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
  }

  table,th,td,tr {
    /* border: 3px solid rgb(0, 0, 0); */
    border-collapse: collapse;
  }
  
  .external-link {
    padding-top: 15px;
  }
  
  .avatar-link {
    padding-top: 6px;
    padding-bottom: 6px;
  }
